.page-wrapper {
  height: 200%;
  display: grid;
  grid-template-columns: auto;
  background-color: #f3f5fa;
}

.allproducts-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  height: 100%;
}

.scroll-section {
  display: flex;
  flex-direction: column;
}

.products {
  margin-left: 10%;
  margin-right: 5%;
  display: flex;
  gap: 7rem;
}

.page-title {
  text-align: center;
  padding: 20px 20px;
  margin-bottom: 30px;
}

.fixed-section img {
  margin-left: 100px;
  width: 70%;
  height: 90%;
  border: none;
  border-radius: 12px;
}

.products {
  margin-bottom: 20px;
}

.explore-more1 {
  width: 100%;
}

.explore-more1 button {
  position: relative;
  background-color: black;
  color: white;
  padding: 0.8rem 3rem;
  border: 1px solid black;
  border-radius: 12px;
  margin-top: 5%;
  margin-bottom: 10px;
  left: 40%;
}

@media screen and (max-width: 600px) {
  .fixed-section {
    display: none;
  }

  .products {
    gap: 4rem;
  }

  .allproducts-container {
    grid-template-columns: auto auto;
  }

  .explore-more1 button {
    left: 30%;
  }
}

@media screen and (max-width: 1100px) {
  .fixed-section {
    display: none;
  }

  .products {
    gap: 4rem;
  }

  .allproducts-container {
    grid-template-columns: auto auto;
  }
}
