.page-wrapper {
  height: 100%;
}

.allproducts-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  height: 100%;
}

.scroll-section {
  display: flex;
  flex-direction: column;
}

.products {
  margin-left: 50px;
  display: flex;
  gap: 7rem;
}

.page-title {
  text-align: center;
  padding: 20px 20px;
  margin-bottom: 30px;
}

.fixed-section img {
  margin-left: 100px;
  width: 70%;
  height: 90%;
}

.products {
  margin-bottom: 20px;
}
