.contact-section {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 20px;
  }
  
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
  
  .contact-text {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    gap: 0px;
   
    
  }
  
  .email-input {
    padding: 10px;
    border: none;
    flex: 1;
  }
  
  .join-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .social-icons {
    display: flex;
    gap: 20px;
  }
  
  .social-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .contact-section {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .contact-content {
      flex-direction: row;
      align-items: center;
    }
  
    .contact-text {
      margin-right: 20px;
      text-align: left;
    }
  
    .contact-form {
      margin-bottom: 0;
    }
  }
  
